<!-- home.html.erb -->

<div>
  <div >
    <h1 >Bem-vindo ao Gestor de Estoque</h1>
    <p>Simplificando o gerenciamento do seu estoque com eficiência.</p>
    <a href="/estoques">Ver Estoque</a>
  </div>
</div>

<section>
  <div>
    <div>
      <h2>Controle de Estoque</h2>
      <p>Mantenha um registro detalhado de todos os seus produtos em estoque.</p>
    </div>
    <div>
      <h2>Movimentações</h2>
      <p>Acompanhe todas as movimentações de entrada e saída de produtos.</p>
    </div>
  </div>
</section>
