<h1>Editing movimentacao</h1>

<%= render "form", movimentacao: @movimentacao %>

<br>

<div>
  <%= link_to "Show this movimentacao", @movimentacao %> |
  <%= link_to "Back to movimentacoes", movimentacoes_path %>
</div>
