<div id="<%= dom_id movimentacao %>">
  <p>
    <strong>Quantidade:</strong>
    <%= movimentacao.quantidade %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= movimentacao.produto_id %>
  </p>

</div>
